
Planorama/DAL/obj/Debug/DAL.csproj.AssemblyReference.cache
/Planorama/Planorama/Web.config
/Planorama/Planorama/Web.Debug.config
/Planorama/Planorama/Web.Release.config
Planorama/.vs/Planorama/v17/.suo
Planorama/.vs/Planorama/v17/.suo

Planorama/.vs/Planorama/FileContentIndex/320ea797-6405-423b-9fa3-cbbbb186fd72.vsidx
Planorama/.vs/Planorama/FileContentIndex/54f7b249-f4fe-4204-9831-ec0da3961bc0.vsidx
Planorama/.vs/Planorama/FileContentIndex/ab4a01c0-d842-45fc-b3b0-dfa93a9892c0.vsidx
Planorama/.vs/Planorama/FileContentIndex/d9e35ddc-8628-4d23-a219-948a75ab52e0.vsidx

*.vsidx
*.vsidx
Planorama/.vs/Planorama/v17/.suo
Planorama/.vs/Planorama/v17/.suo
*.cache
Planorama/Planorama/obj/Debug/Planorama.csproj.AssemblyReference.cache
*.cache
*.cache
Planorama/.vs/Planorama/v17/.suo
*.vsidx
Planorama/.vs/Planorama/config/applicationhost.config
Planorama/.vs/Planorama/v17/.suo
*.cache
Planorama/.vs/Planorama/v17/.suo
