
Planorama/DAL/obj/Debug/DAL.csproj.AssemblyReference.cache
/Planorama/Planorama/Web.config
/Planorama/Planorama/Web.Debug.config
/Planorama/Planorama/Web.Release.config
Planorama/.vs/Planorama/v17/.suo
Planorama/.vs/Planorama/v17/.suo
