
Planorama/DAL/obj/Debug/DAL.csproj.AssemblyReference.cache
/Planorama/Planorama/Web.config
/Planorama/Planorama/Web.Debug.config
/Planorama/Planorama/Web.Release.config
Planorama/.vs/Planorama/v17/.suo
Planorama/.vs/Planorama/v17/.suo
Planorama/.vs/Planorama/FileContentIndex/45512735-83ba-4f86-8320-34c9ba959c1b.vsidx
